In [1]:
import pandas as pd
df = pd.read_csv('subj01/behav/coco_annot_response.tsv', sep='\t')

In [4]:
df[df['73KID']==2991]

,Unnamed: 0,SUBJECT,SESSION,RUN,TRIAL,73KID,10KID,TIME,ISOLD,ISCORRECT,...,MEMORYRECENT,MEMORYFIRST,ISOLDCURRENT,ISCORRECTCURRENT,TOTAL1,TOTAL2,BUTTON,MISSINGDATA,people_count,animal_count
18457,18457,1,25,8,20,2991,2,168.726139,0,1.0,...,NaN,NaN,0,1.0,1,0,1.0,0,2,0
18696,18696,1,25,12,9,2991,2,168.744875,1,1.0,...,238.0,NaN,1,1.0,0,1,2.0,0,2,0
27710,27710,1,37,12,23,2991,2,246.727823,1,0.0,...,9013.0,9252.0,0,1.0,1,0,1.0,0,2,0